extends ./layout/masterpage.pug

block contenido 
    main.container.mt-5
        h1.mt-5.text-center #{pagina}

        include ./layout/bloque_testimoniales.pug
          
        .row
            
            
            h2.d-block.w-100.text-center.mt-5 Agrega un testimonial
            
            .col-md-12
                if(errores)
                    each error in errores 
                        .alert.col.alert-danger.text-center= error.mensaje
        .row.justify-content-center
            .col-md-8 
                form(action="/testimoniales", method="post", class="border-mensaje p-3") 
                    .form-group         
                        label(for="nombre") Nombre
                        input#nombre(type="text", placeholder="Tu nombre", name="nombre", class="form-control", value=nombre) 
                    
                    .form-group         
                        label(for="email") Correo electronico
                        input#nombre(type="email", placeholder="tuemail@gmail.com", name="email", class="form-control", value=email) 
                    
                    .form-group         
                        label(for="mensaje") Mensaje
                        textarea#mensaje(class="form-control", name="mensaje", placeholder="Tu mensaje", rows="3")= mensaje

                    input.btn.btn-success.btn-block(type="submit")